@import url('https://fonts.googleapis.com/css?family=Lato');

$primary-color: rgb(118, 200, 136);
$bg-color: rgb(33, 37, 43);

// .header {
//     background-color: $bg-color;
//     height: 70px;
//     color: $primary-color;
//
//     .row {
//         height: 100%;
//     }
//
//     h1 {
//         font-family: Courier, sans-serif;
//     }
//
//     .btn {
//         color: $primary-color;
//         border-color: $primary-color;
//         font-family: Lato, sans-serif;
//
//         &:hover {
//             color: $bg-color;
//             background-color: $primary-color;
//         }
//     }
// }
//
// .main {
//     background: url('computer.jpg') no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//
//     h1 {
//         color: $primary-color;
//         font-family: Lato, sans-serif;
//         font-size: 4em;
//     }
// }

nav {
    background-color: $bg-color;
    color: $primary-color;

    h1 {
        margin-left: 50px;
        font-size: 1.5em !important;
        font-family: Courier, sans-serif;
    }

    ul {
        margin-right: 50px;
    }

    .btn {
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $bg-color;
        }
    }
}
