
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #00FF80;

$header-height: 70px;
$header-btn-width: 150px;

* {
    padding: 0;
    margin: 0;
}

.header-btn-highlight {
    background: linear-gradient(
        to bottom,
        $primary-color,
        $primary-color 15%,
        black 15%,
        black 75%,
        $primary-color 85%,
        $primary-color
    );
}

.header {
    height: $header-height;
    background: black;

    h1 {
        display: inline-block;
        text-align: center;
        float: left;
        margin-top: 14px;
        margin-left: 50px;
        font-family: Courier, sans-serif;
        color: $primary-color;
    }

    .container {
        float: right;
        height: 100%;
        margin-right: 40px;

        div {
            height: 100%;
            display: inline-block;
            width: $header-btn-width;
            margin: 0;
        }
    }

    h3 {
        margin-top: 22px;
        text-align: center;
        font-family: Lato, Roboto, sans-serif;
        color: $primary-color;
    }
}

.main {
    background: url('computer.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    div {
        height: 50%;
    }

    h1 {
        margin-right: 50px;
        text-align: right;
        font-size: 4em;
        font-family: Lato, Roboto, sans-serif;
        color: $primary-color;
    }
}
